name: Push/PR

on:
  push:
    branches:
      - main
      - master
      - renovate/**
  pull_request:

jobs:
  push-pr:
    uses: newrelic/coreint-automation/.github/workflows/reusable_push_pr.yaml@v4
    secrets: inherit
    with:
      integration: "couchbase"
      run_test_build_fake_prerelease: true
      run_integration_nix: false
