name: Release pipeline

on:
  release:
    types:
      - released
    tags:
      - 'v*'

jobs:
  release:
    uses: newrelic/coreint-automation/.github/workflows/reusable_on_release.yaml@v4
    with:
      integration: couchbase
      tag: ${{ github.event.release.tag_name }}
    secrets: inherit
